/* 🎨 Your Custom Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #a5f8ca;
    color: #096e44;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    /* missing css */
    padding: 20px;
}

/* Main Content */
main {
    padding: 20px;
}

section {
    /* missing css */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    /* missing css */
    padding: 10px;
}

img {
    width: 250px;
    height: auto;
}

h1 {
    color: black;

}